CHROMADB_HOST="localhost"
CHROMADB_PORT=8001
SUPABASE_URL="https://lpixihkztpodwrpjfbok.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwaXhpaGt6dHBvZHdycGpmYm9rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzY3NjA0NTUsImV4cCI6MjA1MjMzNjQ1NX0.SC0Ab3WQNW1p_Ah5olFWo6VXZ_DnsGCb02CV-zBri80"
